version: '3.9'
name: tg-dbot-local

include:
  - 'caddy/docker-compose.caddy.yml'
  - 'clickhouse/docker-compose.clickhouse.yml'
  - 'observability/docker-compose.cadvisor.yml'
  - 'observability/docker-compose.prometheus.yml'
  - 'observability/docker-compose.uptrace.yml'
  - 'postgres/docker-compose.postgres.yml'
  - 'postgres/docker-compose.pgadmin.yml'
  - 'postgres/docker-compose.migrator.yml'
  - 'redis/docker-compose.rate-limiter.yml'
  - 'redis/docker-compose.uptrace-cache.yml'
  - '../docker-compose.yml'
