version: '3.9'
name: tg-dbot-prod

include:
  - 'caddy/docker-compose.caddy.yml'
  - 'clickhouse/docker-compose.clickhouse.yml'
  - 'observability/docker-compose.cadvisor.yml'
  - 'observability/docker-compose.prometheus.yml'
  - 'observability/docker-compose.uptrace.yml'
  - 'postgres/docker-compose.postgres.yml'
  - 'postgres/docker-compose.pgadmin.yml'
  - 'postgres/docker-compose.migrator.yml'
  - 'redis/docker-compose.rate-limiter.yml'
  - 'redis/docker-compose.uptrace-cache.yml'
#  - 'ollama/docker-compose.ollama.yml'

services:
  bot-prod:
    image: ${REGISTRY_URL}/${REPO_URL}/${BOT_IMAGE_NAME}:${IMAGE_TAG}
    container_name: tg-dbot-telego-prod
    pull_policy: always
    restart: unless-stopped
    ports:
      - "8080:8080"
    env_file:
      - ../.env
    volumes:
      - ../.env:/.env:ro
      - ../configs/bot/commands.yaml:/commands.yaml:ro
    environment:
      UPTRACE_DSN: http://${UPTRACE_PROJECT_SECRET}@uptrace:14318?grpc=14317
    depends_on:
      uptrace:
        condition: service_healthy
      rate-limiter-redis:
        condition: service_healthy
#      llm-init:
#        condition: service_completed_successfully
    healthcheck:
      test: [ "CMD", "/bin/busybox", "wget", "-qO-", "http://127.0.0.1:8080/healthz" ]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 30s
    networks:
      - tg-dbot-network
    profiles: ["prod"]

networks:
  tg-dbot-network:
    driver: bridge