name: tg-dbot

include:
  - './deployments/caddy/docker-compose.caddy.yml'
  - './deployments/clickhouse/docker-compose.clickhouse.yml'
  - './deployments/observability/docker-compose.cadvisor.yml'
  - './deployments/observability/docker-compose.uptrace.yml'
  - './deployments/postgres/docker-compose.postgres.yml'
  - './deployments/postgres/docker-compose.pgadmin.yml'
  - './deployments/postgres/docker-compose.migrator.yml'
  - './deployments/redis/docker-compose.rate-limiter.yml'
  - './deployments/redis/docker-compose.uptrace-cache.yml'

#services:
#  app-dev:
#    build:
#      context: .
#      dockerfile: Dockerfile
#    environment:
#      GO_ENV: "DEVELOPMENT"
#    env_file:
#      - .env
#    ports:
#      - "8001:8000"
#    networks:
#      - app-network
#    depends_on:
#      - db
#      - redis
#      - loki
#      - promtail
#      - grafana
#    profiles: ["dev"]
#    deploy:
#      resources:
#        limits:
#          memory: 500M
#        reservations:
#          memory: 250M
#
#  app-prod:
#    build:
#      context: .
#      dockerfile: Dockerfile
#    env_file:
#      - .env
#    environment:
#      GO_ENV: "PRODUCTION"
#    ports:
#      - "8000:8000"
#    networks:
#      - app-network
#    depends_on:
#      - db
#      - redis
#      - loki
#      - promtail
#      - grafana
#    profiles: ["prod"]
#    deploy:
#      resources:
#        limits:
#          memory: 2500M
#        reservations:
#          memory: 1000M

networks:
  tg-dbot-network:
    driver: bridge