services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tg-dbot-telego-local
    restart: unless-stopped
    ports:
      - "8080:8080"
    env_file:
      - example.env
    environment:
      IS_DOCKER: TRUE
    volumes:
      - ./example.env:/example.env:ro
      - ./configs/bot/commands.yaml:/configs/bot/commands.yaml:ro
    depends_on:
      - rate-limiter-redis
    networks:
      - tg-dbot-network

networks:
  tg-dbot-network:
    driver: bridge