services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    image: ${REGISTRY_URL}/${REPO_URL}/${BOT_IMAGE_NAME}:${IMAGE_TAG}
    container_name: telegram-bot
    restart: unless-stopped
    ports:
      - "8080:8000"
    env_file:
      - example.env
      - .env
    depends_on:
      - uptrace
      - rate-limiter-redis
    networks:
      - tg-dbot-network

networks:
  tg-dbot-network:
    driver: bridge