api.{$DOMAIN} {
    reverse_proxy tg-dbot-telego-prod:8080 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
    }
}

click.{$DOMAIN} {
    reverse_proxy clickhouse:8123 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
    }
}

uptrace.{$DOMAIN} {
    reverse_proxy uptrace:14318 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
    }
}

db.{$DOMAIN} {
    reverse_proxy pgadmin:6432 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
    }
}