services:
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: tg-dbot-cadvisor
    restart: unless-stopped
    profiles: ["prod"]
    ports:
      - "8086:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8080/healthz" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    networks:
      - tg-dbot-network