services:
  uptrace:
    image: uptrace/uptrace:2.0.2
    container_name: tg-dbot-uptrace
    restart: unless-stopped
    profiles: ["prod"]
    volumes:
      - ./../../configs/observability/uptrace.yml:/etc/uptrace/config.yml
      - uptrace_data:/var/lib/uptrace
    ports:
      - "4317:4317"   # OTLP gRPC
      - "4318:4318"   # OTLP HTTP
      - "14319:14319" # Uptrace Web UI
    environment:
      - DEBUG=2
      - CLICKHOUSE_USER=${ClickhouseConfig__OTEL_USER}
      - CLICKHOUSE_PASS=${ClickhouseConfig__OTEL_PASSWORD}
      - POSTGRES_USER=${PostgresConfig__UPTRACE_USER}
      - POSTGRES_PASS=${PostgresConfig__UPTRACE_PASS}
      - POSTGRES_DB=${PostgresConfig__UPTRACE_DB}
      - UPTRACE_ENV=${UPTRACE_ENV}
      - UPTRACE_SECRET=${UPTRACE_SECRET}
      - UPTRACE_USER=${UPTRACE_USER}
      - UPTRACE_PASS=${UPTRACE_PASS}
      - UPTRACE_RO_USER=${UPTRACE_RO_USER}
      - UPTRACE_RO_PASS=${UPTRACE_RO_PASS}
      - UPTRACE_PROJECT_SECRET=${UPTRACE_PROJECT_SECRET}
      - UPTRACE_TG_TOKEN=${UPTRACE_TG_TOKEN:-""}
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:14319/api/health"]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      uptrace-cache-redis:
        condition: service_healthy
      clickhouse:
        condition: service_healthy
      postgres-db:
        condition: service_healthy
      cadvisor:
        condition: service_healthy

    networks:
      - tg-dbot-network

volumes:
  uptrace_data:
