services:
  uptrace:
    image: uptrace/uptrace:2.0.2
    container_name: tg-dbot-uptrace
    restart: unless-stopped
    profiles: ["prod"]
    volumes:
      - ./../../configs/observability/uptrace.yml:/etc/uptrace/config.yml
      - uptrace_data:/var/lib/uptrace
    ports:
      - "14317:14317"   # OTLP gRPC
      - "14318:14318"   # OTLP HTTP
    environment:
      - DEBUG=2
      - CLICKHOUSE_HOST=${CLICKHOUSE_HOST}
      - CLICKHOUSE_PORT=${CLICKHOUSE_PORT}
      - CLICKHOUSE_USER=${CLICKHOUSE_OTEL_USER}
      - CLICKHOUSE_PASS=${CLICKHOUSE_OTEL_PASSWORD}
      - POSTGRES_HOST=${POSTGRES_INTERNAL_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_USER=${POSTGRES_UPTRACE_USER}
      - POSTGRES_PASS=${POSTGRES_UPTRACE_PASS}
      - POSTGRES_DB=${POSTGRES_UPTRACE_DB}
      - UPTRACE_ENV=${UPTRACE_ENV}
      - UPTRACE_PROTOCOL=${UPTRACE_PROTOCOL}
      - UPTRACE_PUBLIC_URL=${UPTRACE_PUBLIC_URL}
      - UPTRACE_SECRET=${UPTRACE_SECRET}
      - UPTRACE_EMAIL=${UPTRACE_EMAIL}
      - UPTRACE_PASS=${UPTRACE_PASS}
      - UPTRACE_RO_EMAIL=${UPTRACE_RO_EMAIL}
      - UPTRACE_RO_PASS=${UPTRACE_RO_PASS}
      - UPTRACE_PROJECT_SECRET=${UPTRACE_PROJECT_SECRET}
      - UPTRACE_TG_TOKEN=${UPTRACE_TG_TOKEN:-""}
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:14318/api/health"]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      uptrace-cache-redis:
        condition: service_healthy
      clickhouse:
        condition: service_healthy
      postgres-db:
        condition: service_healthy
      cadvisor:
        condition: service_healthy
      prom-agent:
        condition: service_healthy

    networks:
      - tg-dbot-network

volumes:
  uptrace_data:
