name: Deploy bot to VPS via GHCR

on:
  push:
    branches:
      - main
    paths-ignore:
      - .github
      - .devcontainer
      - .gitignore
      - .idea

jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.REGISTRY_URL }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.REGISTRY_URL }}/${{ secrets.REPO_URL }}/${{ secrets.BOT_IMAGE_NAME }}:${{ github.sha }}
            ${{ secrets.REGISTRY_URL }}/${{ secrets.REPO_URL }}/${{ secrets.BOT_IMAGE_NAME }}:prod
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd ${{ secrets.WORK_DIR }}
            git pull origin main
            cd deployments
            docker compose -f docker-compose.prod.yml --profile prod up -d
            docker image prune -f