name: Upload to ghcr

on:
  push:
    branches:
      - master
    paths-ignore:
      - .github
      - .devcontainer
      - .gitignore
      - .idea

jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.GITHUB_USERNAME }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ secrets.GITHUB_USERNAME }}/golang-tg-bot:latest
